*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/P1/nbproject/private/
/P1/build/
/P2/nbproject/private/
/P2/build/
/P4/nbproject/private/
/P4/build/
/P3/nbproject/private/
/P3/build/
/desktopSM/nbproject/private/
/desktopSM/build/
/P4/dist/
/P5/nbproject/private/
/P5/build/
/P6/nbproject/private/
/P6/build/
/P7/nbproject/private/
/P7/build/
/SM.JACI.Library/nbproject/private/
/SM.JACI.Library/build/
/SM.JACI.Library/dist/
/P7/dist/
/P8/nbproject/private/
/P8/build/
/Sound/
/desktopSM/
/P9/nbproject/private/
/P9/build/